.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 480px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 480px;
  max-height: 480px;
  min-width: 480px;
  max-width: 480px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-top: 20px;
}

button {
    margin: 5px;
}