.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  max-height: 480px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 480px;
  max-width: 480px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-top: 20px;
}

.grid-item {
  width: 30px;
  height: 30px;
}

.grid-item:hover {
  background-color: blue;
}
